<div class = "spouse-order">
  <h1>申請書と身元保証書の作成はこちら（有料）</h1>
  <p><%= link_to("在留期間更新申請　Extension Of Period Of Stay", "/kikankoshin_p1s") %></p>
</div>

<div class = "spouse-documents">
  <h1>必要書類リスト</h1>
  <ul class = "spouse-list">
    <li>在留期間更新許可申請書　１通</li>
    <li>写真（縦４cm×横３cm）　１葉 </li>
    <li>配偶者（日本人）の方の戸籍謄本（全部事項証明書）　１通</li>
    <li>配偶者（日本人）の方の住民税の課税（又は非課税）証明書及び納税証明書（１年間の総所得及び納税状況が記載されたもの）　各１通</li>
    <li>配偶者（日本人）の方の身元保証書　１通</li>
    <li>配偶者（日本人）の住民票（世帯全員の記載のあるもの）　１通</li>
    <li>パスポート　提示</li>
    <li>在留カード又は在留カードとみなされる外国人登録証明書　提示</li>
    <li>身元保証人の印鑑</li>
    <li>身分を証する文書等　提示</li>
  </ul>  
</div>

<div class = "spouse-attention">
  <h1>注意事項</h1>
  <ul class = "spouse-attention-list">
    <li>提出資料が英語以外の言語で作成されている場合には，訳文（日本語）を添付してください。</li>
    <li>原則として，提出された資料は返却できませんので，再度入手することが困難な資料の原本等の返却を希望する場合は，申請時に申し出てください。</li>
    <li>この申請は，在留期限のおおむね３か月前から行うことができますので，余裕を持って申請をしてください。</li>
  </ul>
</div>