<div class = "tkoshin">
  <ul class = "tkoshin-list">
    <li>
      <%= link_to"「日本人の配偶者等」（例：日本人の方の夫又は妻，実子，特別養子）の更新", "/koshindocument/spouse" %>
    </li>
    <li> 「永住者の配偶者等」（例：永住者の方の夫又は妻）の更新</li>
    <li>「定住者」（例：日系３世）の更新</li>
  </ul>
</div>