<div class = "type">
  <h1>希望する申請を選んでください</h1>
  <ul class = "type-list">
    <li>
      <%= link_to"在留期間更新申請 【日本人の配偶者等】・【永住者の配偶者等】・【定住者】", "/koshindocument/tkoshin" %>
    </li>
  </ul>
</div>

<div class = "immigration">
  <h1>お近くの入国管理局を選んでください</h1>
  <ul class = "immigration-list">
    <li>
      <p>札幌入国管理局</p>
      <p>函館出張所</p>
      <p>旭川出張所</p>
      <p>釧路港出張所</p>
      <p>稚内港出張所</p>
      <p>千歳苫小牧出張所</p>
    </li>
  </ul>
</div>
