<div class = "title">
  <h1>Japanese Visa Support System</h1>
</div>

<div class = "explanation">
  <h2>Japanese Visa Support Systemは外国人が入国管理局に提出する申請書作成をサポートするシステムです</h2>
  <h2>登録は無料です。登録すると各申請に必要な書類や入国管理局までのアクセス情報等が見れます</h2>
  <h2>申請書作成は有料です。申請書類1件につき1,000円～3,000円です</h2>
</div>

<div class = "service">
  <h3>現在対応している申請は下記のとおりです</h3>
  <ul class = "service-menus">
    <li>在留期間更新申請 【日本人の配偶者等】・【永住者の配偶者等】・【定住者】</li>
  </ul>
</div>

<div class = "menus">
  <p><%= link_to("在留期間更新申請　Extension Of Period Of Stay", "/kikankoshin_p1s") %></p>
</div>

